.header-cover {
    position: absolute;
    background-image: linear-gradient(to bottom,rgba(42, 39, 39, 0.2),rgba(255,255,255,0.3));
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}



.background-header {
    height: 805px;
    object-fit: contain;
    position: relative;
    top: 0px;
    left:0;
    right: 0;
    background-position:center bottom -135px;
    /* padding-bottom: 220px; */
    zoom: 1.1;
}

.header {
    position: absolute;
    top:0;
    width: 100%;
    display: flex;
    height: 95px;
    align-items: center;
    background-color: rgba(0,0,0,0.12);
    letter-spacing: 0.2rem;
    z-index: 1;
}

.header__logo-brand__logo {
    height: 35px;
    padding: 0 60px;
    margin-bottom: 5px;
}

.header__list {
    list-style: none;
    display: flex;
}


.header__item {
    display: block;
    position: relative;
}

.header__item-link {
    line-height: 1.6rem;
    font-size: 1.3rem;
    color:var(--white-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 12px;
    height: 100%;
    display: block;
    font-weight: 400;
}

.header__item.header__item-last-child  {
    position: relative;
    left: 25px;
    background-color: rgb(186,113,218);
    margin: auto;
    border-radius: 20px;
}

.header__link-menu {
    text-decoration: none;
}

.header__menu  {
   font-size: 2.5rem;
   color: var(--white-color);
   margin-left: 300px;

}

.num__degree {
    position: relative;
}

.degree {
    position: absolute;
    font-size: 1.1rem;
    top: -4px;
    font-weight: 50;
}

.content__heading {
    font-size: 4.5rem;
    color: var(--white-color);
    padding: 12px 0;
    font-weight: 800;
    line-height: 2rem;
}

.content__heading-description {
    font-size: 1.8rem;
    letter-spacing: 3px;
    padding: 34px 0;
    color: var(--white-color);
}

.content__find {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 370px;
    height: 40px;
    margin: 34px 0;
    border-radius: 30px;
    position: relative;
}

#format {
    font-size: 1.5rem;
    background-color: #f9f9f9;
    color: var(--description-text-color);
    -webkit-appearance: none;
    -ms-progress-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    border-radius: 30px;
    
}

.content__search {

}

.content__propose {

}

.content_search-icon{
    position: absolute;
    right: 22px;
    font-size: 1.5rem;
    color: var(--description-text-color);
}

.content__menu-option:hover {
    background-color: rgba(0,0,0,0.12);
}

.content__propose {
    padding:34px 0 ;
    display: flex;
    margin-bottom: -135px;
}

.content__propose-wrap {
    height: 110px;
    width: 110px;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin:0 20px;
}

.content__propose-img {
    height: 42px;
    object-fit: contain;
    margin:auto auto 5px auto;
}

.content__propose-wrap-description {
    color: var(--white-color);
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    margin:5px auto auto auto;
}

.content-2__sub-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3rem;
    color: var(--description-text-color);
    padding: 60px 0 30px 0;
}

.content-2__heading {
    text-transform: uppercase;
    color: var(--heading-text-color);
    font-size: 3.6rem;
    margin-bottom: 39px;
    font-weight: 800;
}

.underline.underline-green::after {
    background-color: #1bbc9b;
    bottom: 8.5px;
}

.content-2__cover {
    position: absolute;
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, .04),rgba(211, 200, 200, 0.1),rgba(33, 31, 31, 0.4));
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}

.content-2__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-2__content {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 30px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.content-2__content-img {
    height: 33px;
    object-fit: contain;
    
}

.content-2__content-wrap {
    
}

.content-2__content-wrap-heading {
    font-size: 2.2rem;
    color: var(--white-color);
    font-weight: 800;

}

.content-2__content-wrap-description {
    color: var(--white-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 12px;
    font-weight: 400;
}

.content-2__hover-wrap {
    position: absolute;
    width: 100%;
    background-color: #14b9d5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    text-align: center; 
    display: none;
}

.col:hover .content-2__hover-wrap {
    display: flex;
}

.content-2__hover-wrap__heading {
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: 800;
}

.content-2__hover-wrap__list {
    list-style: none;
    padding: 20px 0;
}

.content-2__hover-wrap__item {
    font-size: 1.4rem;
    padding: 8px 0;
}

.content-2__hover-wrap__item a {
    text-decoration: none;
    color: var(--white-color);
    letter-spacing: 1px;
    font-weight: 400;
}

.btn.content-2__hover-wrap__btn {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #14b9d5;
    background-color: var(--white-color);
    padding: 8px 20px;
    border-radius: 50px;
    letter-spacing: 2px;
    text-decoration: none;
}

.content-3 {
    margin: 60px 0 20px 0;
    height: 235px;
    position: relative;
    width: 100%;
}

.full-width-img {
    background-image: url(http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-search-2.jpg?id=1538) ;    
    background-position: center right -20px;
    object-fit: contain;
    width: 100%;
    height: 100%;
    zoom: 0.8;
}

.full-width-img__content-wrap {
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width-img__content-heading {
    line-height: 4.5rem;
    font-size: 4.8rem;
    margin-right: 100px;
    padding-right: 42px;
}

.full-width-img__content-heading b {
    font-size: 4.2rem;
}

.underline.underline-red::after {
    background-color: #f76570;
}

.full-width-img__content-btn {
    font-size: 1.4rem;
    padding: 15px 36px;
    background-color: var(--white-color);
    display: block;
    text-decoration: none;
    color:#f76570;
    border-radius: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 63px;
}

.content-4__wrap {
    width: 340px;
}

.underline.underline-blue::after{
    background-color: rgb(20,185,213);
    bottom: 8.5px;
}

.content-4__paragraph {
    color: var(--description-text-color);
    font-size: 1.5rem;
    padding-bottom: 34px;
    letter-spacing: 1px;
    line-height: 2.4rem;
    font-weight: 400;
}

.content-4__cost {
    padding-bottom: 34px;
    font-size: 2.7rem;
    letter-spacing: 1px;
    font-weight: 400;
}

.content-4__old-cost {
    color: rgb(218,218,218);
    text-decoration: line-through;
}

.content-4__present-cost {
    color: rgb(85,85,85);
}

.content-4__cost-description {
    font-size: 1.3rem;
    color: black;
}

.btn-normal.content-4__btn {
    background-color: rgb(27,188,155);
    color: var(--white-color);
    display: block;
    width:max-content;
}

.content-4__wrap-img {
    flex: 1;
    height: 410px;
    margin: 60px 0 0 88px;
    position: relative;
}

.content-4__img {
    background-image: url('http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/package-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    zoom: 40%;
    width: 100%;
    height: 100%;
}

.content-4__img-click {
    position: absolute;
    top:25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
}

.content-4__click {
    width: 65px;
    height: 2.5px;
    background-color:rgb(170,196,216);
    margin:0 10px;
}

.content-4__click:hover  {
    background-color: var(--white-color);
}

.content-4__img-1 {
    background-color: var(--white-color);
}

.content-4__time {
    position: absolute;
    bottom: -57.5px;
    left: 50%;
    transform:translateX(-50%);
    height: 115px;
    width: 490px;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: #14b9d5;
}

.content-4__time-wrap {
    height: 52px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-4__time-number {
    font-size: 3.5rem;
    letter-spacing: 2px;
    color: var(--white-color);
    font-weight: 400;
}

.separate {
    width: 15px;
    height: 100%;
    background-color: rgb(19,176,202);
    transform: rotate(15deg);
    height: 48px;
}

.content-4__time-exact {
    font-size: 1.2rem;
    margin-top: 14px;
    color: var(--white-color);
    letter-spacing: 2px;
    font-weight: 400;
}

.grid.mg-top {
    margin-top: 100px;
}

.content-4-2__img {
    width: 50px;
    height: 50px;
}

.content-4-2__wrap {
    padding-left: 24px;
}

.content-4-2__heading {
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 2.4rem;
}

.content-4__paragraph.content-4-2__paragrath {
    padding: 20px 0;
}

.content-4-2__see {
    color: #14b9d5;
    font-size: 1.4rem;
    letter-spacing: 1px;
    text-decoration: none;
}

.content-5 {
    display: flex;
    width: 100%;
    height: 270px;
    margin-top: 60PX;
}

.content-5__wrap {
    flex: 1;
    position: relative;
    background-image: linear-gradient(to center,rgba(0,0,0,0.1),rgba(139, 133, 133, 0.2));
}

.content-5__img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    zoom: 0.4;
    z-index: -1;
}

.content-5__sub-heading {
    text-align: center;
    color: var(--white-color);
    margin: auto 0;
}

.content-5__heading {
    text-align: center;
    color: var(--white-color);
    margin: auto 0;
}

.content-5__btn {
    background-color: var(--white-color);
    width: max-content;
    margin: 40px auto 0 auto;
    font-weight: 400;
}

.content-6__img-wrap {
    height: 240px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.content-6__sale {
    position: absolute;
    top: 24px;
    right: 15px;
    font-size: 1.3rem;
    color: var(--white-color);
    padding: 3px 10px;
    border-radius: 30px;
    background-color:#555555;
}

.content-6__img {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.content-6__sub-img__wrap {
    padding: 9px 12px;
    border-radius: 50%;
    position: absolute;
    bottom: -24px;
    right: 15px;
}
.content-6__sub-img {
    width: 26px;
    transform: translateY(12%);
}

.content-6__heading {
    font-size: 2rem;
    margin-top: 240px;
    color: var(--heading-text-color);
}

.content-6__sub-heading__wrap {
    font-size: 1.5rem;
    color: var(--description-text-color);
    letter-spacing: 2px;
    margin: 15px 0 20px 0;
}

.content-6__located {
    width: 14.5px;
}

.content-6__service-wrap {
    display: flex;
    width: 100%;
    height: 66px;
    border-top: 1px solid rgba(0, 0, 0, .04);
    border-bottom: 1px solid rgba(0, 0, 0, .04);
    align-items: center;
    justify-content: space-between;
}

.content-6__service {
    font-size: 1.3rem;
    color: var(--heading-text-color);
    letter-spacing: 2px;
    line-height: 2rem;
}

.content-6__service-add {
    font-size: 1rem;
    width: max-content;
    background-color: #ffd205;
    padding: 1px 6px;
    border-radius:20px;
    color: var(--white-color);
}

.content-6__cost {
    display: block;
    padding: 0;
}

.btn-normal.content-6__btn {
    margin: 0;
    color: var(--white-color);
    font-size: 1.3rem;
    padding: 12px 18px;
}

.content-6__old-cost {
    font-size: 2rem;
    color: #9A9A9A;
    letter-spacing: 1px;
}

footer {
    width: 100%;
    height: 630px;
    position: relative;
    margin-top: 60px;
}


.footer__img {
    position: absolute;
    z-index: -1;
    zoom: 80%;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: url('http://www.nicdarkthemes.com/themes/travel/wp/demo/love-travel/wp-content/uploads/sites/3/2018/11/parallax-7.jpg?id=1602') ;
}

.footer {
    justify-content:initial;
}

.footer__heding-wrap {
    width:  770px;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.footer__sub-heding {
    padding-top: 0;
}

.footer__heding {

}


.footer__input-wrap {
    display: flex;
    transform: translateY(-30%);
    height: 44px;
}

.footer__input {
    width: 260px;
    height: 100%;
    background-color: #f9f9f9;
    border-radius: 30px;
    outline: none;
    padding: 0 20px;
    font-size: 1.6rem;
    color: var(--description-text-color);
    border: none;
    font-weight: 400;
}

.btn-normal.footer__btn {
    height: 100%;
    margin-left: 20px;
    font-weight: 400;
    font-size: 1.3rem;
    border-radius: 30px;
    padding: 0 25px;
    border: none;
    background-color: #14b9d5;
    color: var(--white-color);
}

.footer__contact-top {
    width: 100%;
    padding: 45px;
    background-color: var(--white-color);
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.footer__contact-top-right {
    width: 45%;
    height: max-content;
}

.footer__contact-top-right__img {
    width: 150px;
}

.footer__contact-top-right__icon {
    width: 22px;
    margin: 0 7px;
}

.row.footer__contact-top-left {
    width: 50%;
    height: max-content;
}

.footer__contact-top-left__heading {
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: var(--heading-text-color);
    padding:0 0 30px 0;
}

.footer__contact-top-left__item {
    display: flex;
    align-items: center;
    padding: 6px 0;
}

.footer__contact-top-left__item-text {
    line-height: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--description-text-color);
    padding-left: 8px;
    letter-spacing: 1px;
}

.footer__contact__under {
    width: 100%;
    height: 52px;
    background-color: #14b9d5;
    padding: 0 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__contact__under-item {
    font-size: 1.2rem;
    color: var(--white-color);
    letter-spacing: 2px;
    font-weight: 400;
}















